<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dragon.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @dragon.birth_date %>
</p>

<p>
  <strong>Color:</strong>
  <%= @dragon.color %>
</p>

<p>
  <strong>Characteristics:</strong>
  <%= @dragon.characteristics %>
</p>

<%= link_to 'Edit', edit_dragon_path(@dragon) %> |
<%= link_to 'Back', dragons_path %>
