<h2>Inscrever-se</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
<%= f.input :username %><%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                label: 'Senha:',
                required: true,
                hint: ("#{@minimum_password_length} caracteres mínimos" if @minimum_password_length),
                input_html: { autocomplete: "Nova Senha" } %>
    <%= f.input :password_confirmation,
                label: 'Confirme a senha:',
                required: true,
                input_html: { autocomplete: "Nova Senha" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Inscrever-se" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
