<div class="container mt-4">
  <div class="mt-2 d-flex justify-content-center">
    <h2>Log in</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row mt-4 d-flex justify-content-center">
      <div class="col-md-4">
        <%= f.input :login,
            required: false,
            autofocus: true,
            input_html: { autocomplete: "login" } %>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
      <div class="col-md-4" >
        <%= f.input :password,
            label: 'Senha:',
            required: false,
            input_html: { autocomplete: "Senha atual" } %>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
      <div class="col-md-4" >
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
      <div class="col-md-4 text-center" >
        <%= f.button :submit, "Log in", class:"btn btn-primary" %>
      </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
      <div class="col-md-4 " >
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>