<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Corpo do texto:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
